{% extends 'base.html' %}

{% block content %}
    <div class="row">
        {% for post in final_postings %}
                    <div class="col s6 m6">
                      <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                          <span class="card-title">{{ post.0 }}</span>
                           <p>{{ post.1 }}</p>
                           <p>{{ post.2 }}</p>
                           <p>{{ post.4 }}</p>
                           <p>{{ post.3 }}</p>
                        </div>
                        <div class="card-action">
                          <a href="{{ post.5 }}">Apply Here</a>
                        </div>
                      </div>
                    </div>
        {% endfor %}
    </div>
{% endblock content %}